* {
    margin: 0;
    padding: 0;
}

body{
    /*font-family: Arial;*/
}

h1 {
    font-size: 5em;
}

h3{
    color: #ff7f17;
    text-transform: uppercase;
}

h3.underline {
    border-bottom: #cccccc 1px solid;
    padding-bottom: 5px;
}


.orange-txt {
    color: #ff7f17;
}


/* header */
header {
    background-color: #1e1e1e;
    border-top: #ff6600 5px solid;
    color: #bfbdbd;
}

header.header-flex {
    display: flex;
    flex-direction: column;
}

header .container-header, nav {
    padding: 0 3rem;
}

header .container-header {
    margin-bottom: 1rem;
}

header nav {
    background-color: #ff6600;
}

/* nav */
nav a {
    color: white;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 0.4em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a.selected {
    background: linear-gradient(to bottom, rgba(87, 88, 87, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

nav a:hover {
    background-color: gray;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}


/* !nav */

/* !header */

/*Main*/


.container-main-top div .question-mark{
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 0;
    
}

.container-main-top div .question-mark span{
    font-size: 2em;
    width: 100%;
    text-align: center;
}

.container-main-top .text-info{
    padding: 0;
    padding-left: 0.5em;
    display: flex;
    align-items: center;
}


.container-main-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-main-top div {
    background-color: #fff;
    width: 25em;
    padding-top: 2em;
}

.container-main-bottom {
    height: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-main-bottom div {
    text-align: left;
    background-color: rgb(55, 55, 55);
    color: rgb(238, 238, 238);
    padding-left: 0.5em;
    padding-top: 0.5em;
    height: 1.5em;
}

.container-main-bottom article {
    border: rgb(55, 55, 55) 0.05em solid;
    height: 8em;
    width: 11em;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.ingresar {
    display: flex;
    flex-wrap: wrap;
}

label {
    font-weight: bolder;
    font-size: medium; 
}

.ingresar div {
    background-color: rgb(241, 241, 241);   
}

.container-main-top .login-form {
    padding-left: 3em;
    text-align: left;
    border: gray 1px solid;
}

.container-main-top .ingresar-submit {
    width: 80%;
}

.login-button {
    border-radius: 1em;
    border: rgb(55, 55, 55) 1px solid;
    color: rgb(55, 55, 55);
    font-weight: 800;
    width: 40%;
}




/*Main*/

/* footer */
footer.flex-footer {
    align-items: center;
    border-top: #ff6600 3px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0 30px;
}

footer .text-container {
    color: rgb(128, 126, 126);
    font-size: 1rem;
    text-align: center;
}

.arrow-container.right {
    padding-left: 20px;
}

.arrow-container.left {
    padding-right: 20px;
}

.arrow-container.right img {
    transform: rotate(180deg);
}

/* !footer */

/* !Page Menu */

    /* !main */
    #main-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 50em;
    }

    #main-menu .container-accordion {
        background-color: hotpink;
        width: 40%;
    }

    #main-menu .container-main-right {
        background-color: green;
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    #main-menu .container-main-right .container-main-bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    #main-menu .container-main-right .container-main-bottom article {
        padding: 0;
        margin: 0;
    }

    /* !main */

/* !Page Menu */

